#nmap-section {
  margin-top: 50px;
}


/* ===== MAIN BUTTONS ===== */
#nmap-button, #brute-button {
  margin-left: auto;
  margin-right: auto;
  background-color: #f229de;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px 24px;
  margin: 15px 10px; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 90%;
  max-width: 250px;
}

/* Hover Effects */
#nmap-button:hover, #brute-button:hover {
  background-color: #000;
  color: #f229de;
  border-color: #f229de;
  box-shadow: 0 6px 12px rgba(242, 41, 222, 0.3);
  transform: translateY(-3px);
}

/* Active States */
#nmap-button:active, #brute-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#nmap-terminal-image {
  max-width: 80%;
}

/*extra button home*/

.extra-button {
  position: absolute;
  top: 160px;
  left: 48%;
  transform: translate(-50%, -50%); /* perfectly center */
  color: white;
  background-color: #f229de;
  border: solid black 2px;
  font-size: large;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none; /* remove underline */
  display: inline-block;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}