<!-- gallery/templates/gallery/gallery.html -->
{% extends "core/base.html" %}
{% load static %}

{% block title %}Learning Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
<!-- this is gallery views html-->

      <a href="{% url 'home' %}" class="extra-button">Home</a>
   

      <section id="gallery-section">
  <h2>Gallery</h2>
    <br>
  <div id="gallery-grid">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752270077/gallery/rrcd0ukr8erh43r9qqul.webp" alt="Gallery Image 1">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752270233/gallery/zrj298alsgufikmug9qi.webp" alt="Gallery Image 2">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271847/gallery/urapsiy4qsur54nyjsmw.webp" alt="Gallery Image 3">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271915/gallery/blnavfz84glcqszxl4db.webp" alt="Gallery Image 4">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271974/gallery/dfi6vokyuszpxbfj2vlt.webp" alt="Gallery Image 5">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272013/gallery/xeszxehenjdq4rwcnvqa.webp" alt="Gallery Image 6">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272057/gallery/uo7goestjt0h49xstyab.webp" alt="Gallery Image 7">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272093/gallery/clumip0pcyoknscleyz3.webp" alt="Gallery Image 8">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272127/gallery/uckcydn4yfzyuwyfa7rp.webp" alt="Gallery Image 9">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272158/gallery/ar8jxbvveec6cmfd7o3j.webp" alt="Gallery Image 10">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272187/gallery/arxu3l5kuzcrvljtzvvv.webp" alt="Gallery Image 11">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272221/gallery/bf0xroee6hi4hvmkqkqm.webp" alt="Gallery Image 12">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272253/gallery/fxr2uthuciz98usxcxwj.webp" alt="Gallery Image 13">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272289/gallery/yagcmhtz4sl7ziqpl0ob.webp" alt="Gallery Image 14">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272328/gallery/obxjtylhsx5bzbkf52zi.webp" alt="Gallery Image 15">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272357/gallery/ctsstq2b9s3afcjonovw.webp" alt="Gallery Image 16">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272388/gallery/qc7oia4g9v8lromxvmzr.webp" alt="Gallery Image 17">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272422/gallery/z9nlkk7ys7dtltc92mw2.webp" alt="Gallery Image 18">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272468/gallery/cv98vujbwrzp89oe38sz.webp" alt="Gallery Image 19">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272502/gallery/scv33elltiw6m5z5xu4c.webp" alt="Gallery Image 20">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272535/gallery/y9gahxfa8nurtj4fhmzl.webp" alt="Gallery Image 21">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272567/gallery/iyne2dndpdk3v0gggd39.webp" alt="Gallery Image 22">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272611/gallery/yibq8mnbb5gp7ashtnxw.webp" alt="Gallery Image 23">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272640/gallery/sobsewcwqu0ihd0vqxxm.webp" alt="Gallery Image 24">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272684/gallery/b5btzzljv1awlsseuw7f.webp" alt="Gallery Image 25">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272722/gallery/zavsh4emovdmx9pr5vt6.webp" alt="Gallery Image 26">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272761/gallery/sutyneabh8gvxgurdzwo.webp" alt="Gallery Image 27">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272795/gallery/z3qsqpn6rh9on8dz0lge.webp" alt="Gallery Image 28">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272828/gallery/jwzynq6czn2jvvgroz8s.webp" alt="Gallery Image 29">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272858/gallery/bb8n8rracazgaponfajs.webp" alt="Gallery Image 30">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272892/gallery/lpeomsymohfh5xhcnxjb.webp" alt="Gallery Image 31">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272921/gallery/bny6exvxrwr5qjlnirlh.webp" alt="Gallery Image 32">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272954/gallery/mighfejo6hdweehncljr.webp" alt="Gallery Image 33">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272978/gallery/u8pmik6gvacydeapanq4.webp" alt="Gallery Image 34">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273008/gallery/vh2x8npntwx9aeef3gmr.webp" alt="Gallery Image 35">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273035/gallery/kaqh8xdswnyp9l6fcc5b.webp" alt="Gallery Image 36">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273075/gallery/avixgbzmlvtxqwzbohqk.webp" alt="Gallery Image 37">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273254/gallery/tkpsvnw8puutlhktisjc.webp" alt="Gallery Image 38">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273278/gallery/obvkrq9omngypjvzzwlf.webp" alt="Gallery Image 39">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273307/gallery/tf4mdoaiprshvrdt8vwm.webp" alt="Gallery Image 40">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273341/gallery/qei9qkvulldrq63u4cwv.webp" alt="Gallery Image 41">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273383/gallery/acknhvx5gf9maavnzai7.webp" alt="Gallery Image 42">
  </div>
</section>

{% endblock %}