<!-- gallery/templates/gallery/gallery.html -->
{% extends "core/base.html" %}
{% load static %}

{% block title %}Learning Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
<!-- this is gallery views html-->
<section id="gallery-section">
  <h2>Gallery</h2>
    <br>
  <div id="gallery-grid">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752270077/gallery/rrcd0ukr8erh43r9qqul.webp" alt=" gta rp, jodesius profile image">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752270233/gallery/zrj298alsgufikmug9qi.webp" alt="gta rp, granpa making drugs">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271847/gallery/urapsiy4qsur54nyjsmw.webp" alt="gta rp, aliens stopping traffic">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271915/gallery/blnavfz84glcqszxl4db.webp" alt="gta rp, a cop posing">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752271974/gallery/dfi6vokyuszpxbfj2vlt.webp" alt="gta rp, at the beech with a few people">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272013/gallery/xeszxehenjdq4rwcnvqa.webp" alt="gta rp, 2 people flexing guns">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272057/gallery/uo7goestjt0h49xstyab.webp" alt="gta rp, posing by red car">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272093/gallery/clumip0pcyoknscleyz3.webp" alt="gta rp, cop and see through car">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272127/gallery/uckcydn4yfzyuwyfa7rp.webp" alt="gta rp, the crew posing">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272158/gallery/ar8jxbvveec6cmfd7o3j.webp" alt="gta rp, race car f1 racing in a  underground car park">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272187/gallery/arxu3l5kuzcrvljtzvvv.webp" alt="gta rp, granpa gets arrested and processed">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272221/gallery/bf0xroee6hi4hvmkqkqm.webp" alt="gta rp, preping the heli copter for bank robbery">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272253/gallery/fxr2uthuciz98usxcxwj.webp" alt="gta rp, hacking the security in a bank">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272289/gallery/yagcmhtz4sl7ziqpl0ob.webp" alt="gta rp, granpa making drugs in yellow suits">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272328/gallery/obxjtylhsx5bzbkf52zi.webp" alt="gta rp, posing by red and yellow car">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272357/gallery/ctsstq2b9s3afcjonovw.webp" alt="gta rp, posing by yellow and silver car">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272388/gallery/qc7oia4g9v8lromxvmzr.webp" alt="gta rp, police on a radio calling for back up">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272422/gallery/z9nlkk7ys7dtltc92mw2.webp" alt="gta rp, squid games line ups">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272468/gallery/cv98vujbwrzp89oe38sz.webp" alt="gta rp, cop in the motor pool ready for duty">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272502/gallery/scv33elltiw6m5z5xu4c.webp" alt="gta rp, a gang on the block">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272535/gallery/y9gahxfa8nurtj4fhmzl.webp" alt="gta rp, hitting the clubs with everyone">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272567/gallery/iyne2dndpdk3v0gggd39.webp" alt="gta granp in drugs lab">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272611/gallery/yibq8mnbb5gp7ashtnxw.webp" alt="snow runner, yellow truck rescues scouts">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272640/gallery/sobsewcwqu0ihd0vqxxm.webp" alt="snow runner, stuck in the bog">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272684/gallery/b5btzzljv1awlsseuw7f.webp" alt="snow runner, stuck in bog again">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272722/gallery/zavsh4emovdmx9pr5vt6.webp" alt="war thunder, left wing form cockpit">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272761/gallery/sutyneabh8gvxgurdzwo.webp" alt="war thunder, left wing form cockpit">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272795/gallery/z3qsqpn6rh9on8dz0lge.webp" alt="war thunder, right wing form cockpit">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272828/gallery/jwzynq6czn2jvvgroz8s.webp" alt="war thunder, bomber b2 flying over with yellow and white smoke">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272858/gallery/bb8n8rracazgaponfajs.webp" alt="war thunder, jet went down">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272892/gallery/lpeomsymohfh5xhcnxjb.webp" alt="war thunder, bomber b2 flying over with yellow and white smoke">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272921/gallery/bny6exvxrwr5qjlnirlh.webp" alt="war thunder, jet over the ocean">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272954/gallery/mighfejo6hdweehncljr.webp" alt="war thunder, german bf109 coming into emergancy landing">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752272978/gallery/u8pmik6gvacydeapanq4.webp" alt="war thunder, jet coming in for landing, wheels down air brakes on">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273008/gallery/vh2x8npntwx9aeef3gmr.webp" alt="war thunder, jet cockpit view">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273035/gallery/kaqh8xdswnyp9l6fcc5b.webp" alt="war thunder, crashed german mig">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273075/gallery/avixgbzmlvtxqwzbohqk.webp" alt="war thunder, lancaster bomber touch down on dessert strip">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273254/gallery/tkpsvnw8puutlhktisjc.webp" alt="war thunder, enamy going down, got no wings">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273278/gallery/obvkrq9omngypjvzzwlf.webp" alt="war thunder, lancaster bomber in a dive, reverse view">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273307/gallery/tf4mdoaiprshvrdt8vwm.webp" alt="war thunder, lancaster bomber touch down on dessert strip">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273341/gallery/qei9qkvulldrq63u4cwv.webp" alt="war thunder, inverted flight and guns discharging">
    <img src="http://res.cloudinary.com/ddmslr9na/image/upload/v1752273383/gallery/acknhvx5gf9maavnzai7.webp" alt="war thunder, lancaster bomber cruise flight 15.000ft">
  </div>
</section>

{% endblock %}