<!-- gallery/templates/gallery/gallery.html -->
{% extends 'home/base.html' %}
{% load static %}

{% block title %}Learning Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}

{% block content %}
<!-- this is gallery views html-->
 <!DOCTYPE html>
<html lang="en-US">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="jodesius gamings streamer and perosnal advertisement web application.">
      <meta name="description"
            content="jodesiusgaming, streamer, content creator, Twitch, Adventure, Surivival, I.t learning">
      <meta author="jodesius-developement">

      <!--tittle of page-->
      <title>JodesiusGaming</title>

      <!--fav icon-->
      <link rel="icon" type="image/png" sizes="180x180" href="assets/favicons/medievil-castle-web180x180.webp">
      <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/medievil-castle-web16x16.webp">
      <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/medievil-castle-web32x32.webp">

      <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>

      <section id="gallery-section">
  <h2>Gallery</h2>
    <br>
  <div id="gallery-grid">
    <img src="assets/images/stuck-or-not.webp" alt="Gallery Image 1">
    <img src="assets/images/defo-not-stuck.webp" alt="Gallery Image 2">
    <img src="assets/images/bomber-cockpit.webp" alt="Gallery Image 3">
    <img src="assets\images\bomber-left-wing.webp" alt="Gallery Image 4">
    <img src="assets\images\bombs-away.webp" alt="Gallery Image 5">
    <img src="assets\images\crash-landing.webp" alt="Gallery Image 6">
    <img src="assets\images\crusing.webp" alt="Gallery Image 7">
    <img src="assets\images\fast-jet.webp" alt="Gallery Image 8">
    <img src="assets\images\iminent-landing.webp" alt="Gallery Image 9">
    <img src="assets\images\jet-cockpit.webp" alt="Gallery Image 10">
    <img src="assets\images\jet.webp" alt="Gallery Image 11">
    <img src="assets\images\just-made-it.webp" alt="Gallery Image 12">
    <img src="assets\images\landings-fast.webp" alt="Gallery Image 13">
    <img src="assets\images\near-miss.webp" alt="Gallery Image 14">
    <img src="assets\images\run.webp" alt="Gallery Image 15">
    <img src="assets\images\smooth.webp" alt="Gallery Image 16">
    <img src="assets\images\spitfire.webp" alt="Gallery Image 17">
    <img src="assets\images\steady-flight.webp" alt="Gallery Image 18">
    <img src="assets\images\there-alive.webp" alt="Gallery Image 19">
    <img src="assets\images\trop-bf-109.webp" alt="Gallery Image 20">
    <img src="assets\images\acid-mix.webp" alt="Gallery Image 21">
    <img src="assets\images\aliens.webp" alt="Gallery Image 22">
    <img src="assets\images\always_ready.webp" alt="Gallery Image 23">
    <img src="assets\images\beech-day-out.webp" alt="Gallery Image 24">
    <img src="assets\images\ben_tundy_jd.webp" alt="Gallery Image 25">
    <img src="assets\images\brian-monopoly.webp" alt="Gallery Image 26">
    <img src="assets\images\casper-car.webp" alt="Gallery Image 27">
    <img src="assets\images\chiling-out.webp" alt="Gallery Image 28">
    <img src="assets\images\f1-gta.webp" alt="Gallery Image 29">
    <img src="assets\images\going-down.webp" alt="Gallery Image 30">
    <img src="assets\images\green-lit-crew.webp" alt="Gallery Image 31">
    <img src="assets\images\hacking-fun.webp" alt="Gallery Image 32">
    <img src="assets\images\its-only-meth.webp" alt="Gallery Image 33">
    <img src="assets\images\red_and_yellow.webp" alt="Gallery Image 34">
    <img src="assets\images\shinny.webp" alt="Gallery Image 35">
    <img src="assets\images\shots_fired.webp" alt="Gallery Image 36">
    <img src="assets\images\squid-games1.webp" alt="Gallery Image 37">
    <img src="assets\images\standing-on-bussiness.webp" alt="Gallery Image 38">
    <img src="assets\images\the_blue_crew.webp" alt="Gallery Image 39">
    <img src="assets\images\the_family.webp" alt="Gallery Image 40">
    <img src="assets\images\yellows-mellow.webp" alt="Gallery Image 41">
    <img src="assets/images/jodesius-profile-web.webp" alt="Gallery Image 42">
  </div>
</section>

</body>

</html>

{% endblock %}