
#unauthorized-modal {
  position: fixed;
  margin-top: -500px;
  margin-left: 12px;
  z-index: 9999;
  width: 90%;
}


.modal {
  margin-left: -6px;
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #8b097e;
  color: black;
  margin: 10% auto;
  padding: 20px 30px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  max-width: 450px;
  position: relative;
  font-family: sans-serif;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content p {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-content button {
  background-color: green;
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: white;
  color: black;
}

.modal-content a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

/*MEDIA QUERRIES*/
   /*768 media screen*/
@media (min-width: 768px) {
  .modal {
  margin-left: 20%;
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
 }
}

   /*1024 media screen*/
@media (min-width: 1024px) {
  .modal {
  margin-left: 28%;
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
 }
}
