/* color picks
   pink        #f229de
   dark-purple #8b097e
   blue 
   white       #000000
   black       #ffffff
*/

/* wildcard styles*/
* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-color: slategray;
}

h2 {
  text-align: center;
  padding: 5px;
}

.headings {
  padding: 8px;
}

.subheadings {
  padding: 8px;
}

.paragraphs {
  padding: 5px;
  border: solid black 2px;
  border-radius: 8px;

  background-color: #8b097e;
}




/* header section*/

#tittle {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  margin-left: -35px;
}

#logo-link {
  margin-left: 35%;
}

#logo-link img {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
}




/*navigation*/

#nav-section {
  text-align: center;
}

#nav-list {
  list-style: none;
  margin-left: -50px;
}

.nav-btn {
  display: inline-block;
  justify-content: space-between;
  padding: 4px;
  margin-top: 2px;
  background-color: #f229de;
  border: solid black 3px;
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: white;
  color: black;
}

/*footer section*/

footer {
  margin-left: 1px;
  background-color: #f229de;
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  border: solid black 2px;
}

#footer {
  width: 98%;
  margin-left: 0%;
}

.icons {
  padding: 5px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  justify-content: space-between;
}

.icons img {
  height: 50px;
}