/* GALLERY*/

#gallery-section {
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 80px;
}

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

#gallery-grid img {
  max-width: 250px;
  max-height: 260px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
}


/*MEDIA QEURRIES*/
/*375 media screen*/

/*425 media screen*/
@media (min-width: 425px) {
  #gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

    #gallery-grid img {
  max-width: 190px;
  max-height: 200px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
 }
}


/*768 media screen*/
@media screen and (min-width: 768px) {
 #gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  #gallery-grid img {
  max-width: 230px;
  max-height: 230px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
 }
}


/*1024 media screen*/
@media (min-width: 1024px) {
 #gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #nmap-terminal-image{
  padding: 10px;
  width: 95%;
  height: 220px;
  display: block;
}
}