/* GALLERY*/

#gallery-section {
  padding: 10px;
  margin-bottom: 80px; /* to avoid overlap with footer */
}

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

#gallery-grid img {
  max-width: 250px;
  max-height: 260px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
}