/* GALLERY*/

#gallery-section {
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 80px; /* to avoid overlap with footer */
}

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}

#gallery-grid img {
  max-width: 250px;
  max-height: 260px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
}

/*extra button home*/

.extra-button {
  position: absolute;
  top: 160px;
  left: 48%;
  transform: translate(-50%, -50%); /* perfectly center */
  color: white;
  background-color: #f229de;
  border: solid black 2px;
  font-size: large;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none; /* remove underline */
  display: inline-block;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}