/* color picks
   pink        #f229de
   dark-purple #8b097e
   white       #000000
   black       #ffffff
*/

/* wildcard styles*/
* {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-color: slategray;
}

h2 {
  text-align: center;
  padding: 5px;
}

.headings {
  padding: 8px;
}

.subheadings {
  padding: 8px;
}

.paragraphs {
  padding: 5px;
  border: solid black 2px;
  border-radius: 8px;

  background-color: #8b097e;
}


/* header section*/

/* Title Styles */
#title {
    text-align: center;
    margin: 10px auto; /* Centers horizontally */
    padding: 5px;
    position: relative; /* Needed for logo positioning */
    width: 80%; /* Adjust as needed */
    z-index: 1;
}

/* Logo Link Styles */
#logo-link {
    position: absolute;
    right: 15px;
    top: 15px;
}

#logo-link img {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 15px;
  top: 10px;
}

/* Logo Image Styles */
#logo-home {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
    display: block; /* Removes extra space under image */
}

#logo-home:hover {
    transform: scale(1.1);
}




/*navigation*/

#nav-section {
  text-align: center;
}

#nav-list {
  list-style: none;
  margin-left: -50px;
}

.nav-btn {
  display: inline-block;
  justify-content: space-between;
  padding: 4px;
  margin-top: 2px;
  background-color: #f229de;
  border: solid black 3px;
  border-radius: 8px;
}

.nav-btn:hover {
  background-color: white;
  color: black;
}

/*footer section*/

footer {
  margin-left: 1px;
  background-color: #f229de;
  position: fixed;
  bottom: 0%;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: solid black 2px;
}

#footer {
  width: 98%;
  margin-left: 0%;
}

.icons {
  padding: 5px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  justify-content: space-between;
}

.icons img {
  height: 50px;
}

/*MEDIA QUERRIES*/

/*375 media screen*/
@media screen and (min-width: 375px) {
  #title {
    margin-left: -5px;
  }

  #logo-link {
    position: absolute;
    top: 5px;
  }
}

   /*768 media screen*/
@media (min-width: 768px) {
    #logo-home {
        width: 60px;
        height: 60px;
    }
    #title {
        font-size: 1.8rem;
        margin-top: 15px;
        margin-left: 70px;
    }

    #footer {
      width: 100%;
      margin-left: 0%;
    }
  }